.container {
  display: flex;
}


.game-board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 600px;
  background-color: blue;
}

.game-board div, #next-peice div{
width: 30px;
height: 30px;

}

.piece {
  background-color: green;
}

section {
display: flex;

}

.game-info{

margin-left: 120px;
}
#next-peice {
  
  height: 120px;
  width: 120px;
  flex-wrap: wrap;
  display: flex;
  background-color: red;
}
